* {
  padding: 0;
  margin: 0;
}

body {
  background-size: 100%;
  background-color: rgba(213,222,217);
  color: rgb(44, 44, 44);
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  line-height: 40px;
}

header {
  background-color: rgb(217,206,178);
  position: fixed;
  width: 100%;
}

h1 {
  text-align: right;
  font-weight: bold;
  font-family: fantasy, sans-serif;
  padding: 30px, 30px;
  font-size: 1em;
  display: inline-block;
}

.menu {
  font-style: italic;
  display: inline-block;
  padding: 20px;
  font-size: 0.9em;
  width: 60%;
}

.menu li {
  display: inline-block;
  padding-inline: 10px;
}

main {
  padding: 50px;
}

.photo-and-text {
  display: inline-block;
  color: rgb(95, 95, 95);
  width: 33%;
  text-align: center;
  padding: 6px;
}

.about-me-skills {
  background-size: cover;
  width: 50%;
  display: inline-block;
}


.upperText div {
  position:absolute;
  text-align: center;
}

h3 {
  text-align: left;
  font-weight: bold;
  font-family: Tahoma, sans-serif;
  font-size: 1.5em;
}

.foto {
  display: block;
  margin-left: 60px;
  width: 200px;
  margin-top: 40px;
  margin-bottom: 5px;
  border-radius: 30px;
}

.personal-information {
  text-align: left;
  font-size: 0.5em;
  font-style: italic;
  margin-bottom: 40px;
  padding: 0 20px;
}

.skills {
  padding: 20px;
}

background-image: url("/images/29102017-IMG_3033.jpg");