* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #F2F2F2;
  color: #262626;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 40px;
}

body h1 {
  font-size: 30px;
  background-color: #262626;
  margin-top: 40px;
  padding: 40px;
  font-weight: bold;
  text-align: left;
  font-family: fantasy, sans-serif;
  float: left;
  color: #F2F2F2;
}

.menu {
  background-color: #262626;
  position: sticky;
  font-style: italic;
  font-size: 0.9em;
  width: 100%;
  text-align: right;
}

.menu:hover:after {
  text-decoration:#898C6D;
  transform: scale(2);
}

.menu li {
  display: inline-block;
  padding-inline: 10px;
  margin-right: 20px;
  font-size: 0.8em;
  color: #F2F2F2;
}

.banner {
  background-image: url(/images/IMG_2870.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  display: block;
}

main {
  padding: 10px;
  margin: 20px;
}

h2, h3 {
  font-size: 1.5em;
  color: #F2F2F2;
  font-weight: bold;
  font-family: fantasy, sans-serif;
  padding: 20px;
}

p, li {
  font-size: 1em;
}

.road, aside {
  background-color:#262626;
  color: #F2F2F2;
  padding: 20px;
  margin: 20px;
  border-radius: 2em;
  box-shadow: 20px -15px #898C6D;
  display: inline-block;
}

.road {
  width: 70%;
}

.road img {
  width: 45%;
  margin: 20px;
  display: inline;
  margin-left: 280px;
  box-shadow: inset 0 0 1em #898C6D, 0 0 1em #F2F2F2;
}

.self.information div {
  border-radius: 2em;
  box-shadow: 20px -15px #898C6D;
  background-color: #262626;
  color: #F2F2F2;
  float: right;
  width: auto;
  margin-top: 50px;
}

.self {
  height: 300px;
  border-radius: 2em;
  display: inline;
  box-shadow: inset 0 0 1em #898C6D, 0 0 1em #F2F2F2;
  margin-left: 40px ;
}

aside ul {
  padding: 20px;
  margin: 20px;
}

.contact {
  font-size: 1.2em;
}

section {
  box-shadow: 20px -15px #898C6D;
  background-color: #262626;
  padding: 20px;
  margin: 30px;
  border-radius: 2em;
}

#projects {
  height: 100px;
}

.professionalSkills {
  color: #F2F2F2;
  padding: 30px;
}

footer {
  background-color: #262626;
  color: #F2F2F2;
  text-align: center;
}

footer img {
  height: 20px;
}

footer li {
  color: #F2F2F2;
}

footer p {
  font-size: 0.6em;
}
