* {
  padding: 0;
  margin: 0;
}

body {
  background-size: 100%;
  background-color: #F2F2F2;
  color: #262626;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  font-size: 20px;
  line-height: 40px;
}

.menu ul {
  background-color: #262626;
  position: -webkit-sticky;
  font-style: italic;
  font-size: 0.9em;
  width: 100%;
  text-align: right;
}

.menu li {
  display: inline-block;
  padding-inline: 10px;
  margin-right: 20px;
  font-size: 0.8em;
  color: #F2F2F2;
}

h1 {
  text-align: left;
  display: absolute;
  font-family: fantasy;
  font-size: 0.9em;
  float: left;
  color: #F2F2F2;
  padding: 10px;
  font-weight: bold;
}
.banner {
  background-image: url(/images/IMG_2870.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  display: block;
}

main {
  padding: 10px;
  margin: 20px;
}

h2 {
  font-size: 1.2em;
  color: #F2F2F2;
  font-weight: bold;
}

p {
  font-size: 0.6em;
}

.road {
  background-color:#262626;
  color: #F2F2F2;
  padding: 20px;
  margin: 20px;
  border-radius: 2em;
  box-shadow: 20px -15px #898C6D;
  display: inline-block;
  width: 50%;
}

.self.information div {
  border-radius: 2em;
  box-shadow: 20px -15px #898C6D;
  background-color: #262626;
  color: #F2F2F2;
  float: right;
  width: 35%;
  margin-top: 50px;
}

.self {
  height: 300px;
  border-radius: 2em;
  padding: 30px;
  display: inline;
}

aside ul {
  font-size: 0.6em;
  padding: 20px;
  margin: 20px;
}

section {
  box-shadow: inset 0 0 1em #898C6D, 0 0 1em #262626;
  background-color: #262626;
  padding: 20px;
  margin: 30px;
  border-radius: 2em;
}
